<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <!--<h1 class="header center teal-text text-lighten-2">Web Shop</h1>-->
      <!--<div class="row center">-->
      <!--</div>-->
      <!--<div class="row center">-->
        <!--<a routerLink="/products" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Shop</a>-->
      <!--</div>-->
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../../assets/images/ecom.jpeg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 361px, 0px);"></div>
</div>
