<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WebShop</h5>
        <p class="grey-text text-lighten-4">WebShop is an online shopping platform.
        This platform will give you access to purchase products from multiple brands like
          Outfiters, StockStitch, Cross Road etc.
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Visit</h5>
        <ul>
          <li><a class="white-text" routerLink="/contact">Contact</a></li>
          <li><a class="white-text" routerLink="/about">About</a></li>
          <li><a class="white-text" routerLink="/blog">Blog</a></li>
          <li><a class="white-text" routerLink="/products">Shop</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="http://facebook.com/haider.malik098">Facebook</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">SnapChat</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <!--<div class="container">-->
      <!--Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
    <!--</div>-->
  </div>
</footer>
