<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="/" class="brand-logo">Web Shop</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLinkActive="active" routerLink="/products">Products</a></li>
      <li><a routerLinkActive="active" routerLink="/blog">Blog</a></li>
      <li><a routerLinkActive="active" routerLink="/contact">Contact Us</a></li>
      <li><a routerLinkActive="active" routerLink="/about">About</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
