<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row">

  <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
    <!-- Grey navigation panel

          This content will be:
      3-columns-wide on large screens,
      4-columns-wide on medium screens,
      12-columns-wide on small screens  -->

    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
      <li class="logo"><a id="logo-container" routerLink="/" class="brand-logo">Home</a></li>

      <li class="bold"><a href="about.html" class="waves-effect waves-teal">Users</a></li>
      <li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Products</a></li>
      <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Posts</a></li>
    </ul>


  </div>

  <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
    <!-- Teal page content

          This content will be:
      9-columns-wide on large screens,
      8-columns-wide on medium screens,
      12-columns-wide on small screens  -->
 Content Goes here!!
  </div>

</div>



